# Sbire specific aliases and functions

alias s='perl /opt/Sbire/sb_sergeant.pl $SBIRE_TARGET'
alias c='s -c'
alias r='c run --csv --'

connect(){
  export SBIRE_TARGET=$1
  s --csv
  }

scopy(){
  echo Uploading $3 from $1
  connect $1 >/dev/null
  c download -n $3 -f $3
  echo Copying $3 to $2
  connect $2 >/dev/null
  c upload -n $3 -f $3 --csv | grep -v 'are identical'
}
