# Server list
# Alias	IP/Name		Protocol

# DEFAULT ATTRIBUTES :

# DEFINE CHECK_NRPE SSL SWITCH ( check-nrpe -n -H SERVERX ) 
	NRPE-USE-SSL	1
# DEFINE COMMUNICATION PORT FOR NRPE AGENT	
	NRPE-PORT	5666

TEST		-		LOCAL

# SERVER DEFINITION

SERVER1 	192.168.1.1 	NRPE
SERVER2		192.168.100.2	NRPE
	NRPE-PORT	3181
